@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Amiri:wght@100;400&display=swap");

@font-face {
  font-family: "Mushaf";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/uthmanic-hafs1-ver14.eot")
      format("eot"),
    url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/uthmanic-hafs1-ver14.svg")
      format("svg"),
    url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/uthmanic-hafs1-ver14.ttf")
      format("truetype"),
    url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/uthmanic-hafs1-ver14.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/uthmanic-hafs1-ver14.woff2")
      format("woff2");
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Montserrat', 'Amiri', Serif;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  gap: 5px;
}

.center-content h2 {
  font-size: 2rem;
}

.center-content button {
  display: inline-flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  cursor: pointer;
  padding: 1rem;
  border-radius: 100%;
  background-color: var(--green);
  border: 0px;
  text-align: center;
  margin: 10px;
  transition: all 0.15s ease-in-out;
}

.center-content button:hover {
  background-color: black;
  color: var(--green)
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

#body-wrapper {
  position: relative;
  height: auto;
}

.color-picker {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  transform: translateX(-80%);
  transition: transform 0.5s ease;
  margin: auto;
  height: 100%;
  z-index: 99;
}

.color-picker:hover {
  transform: translateX(0%);
}

.color-picker > fieldset {
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 2rem;
  background: var(--light-background);
  box-shadow: rgba(0, 0, 0, 0.3) 0 2px 3px;
  width: 60px;
  margin-inline: auto;
  border-radius: 0rem 1rem 1rem 0rem;
  padding-right: 10px;
}

.color-picker > fieldset:after {
  content: '';
  color: var(--text);
  right: 5px;
  position: absolute;
  background-color: var(--text);
  height: 10%;
  width: 3px;
  border-radius: 5px;
  opacity: 0.2;
}


.color-picker input[type="radio"] {
  position: inherit;
  appearance: none;
  width: 1rem;
  height: 1rem;
  outline: 3px solid var(--radio-color, currentColor);
  outline-offset: 3px;
  border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
  background-color: var(--radio-color, currentColor);
}

.modal {
  cursor: default;
  direction: ltr;
  position: fixed;
  z-index: 300;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: all 0.20s ease-in-out;
  opacity: 0;
}

.modal-open {
  opacity: 1;
}

.modal-close {
  opacity: 0;
}

.modal-content {
  background-color: var(--light-background);
  width: 40%;
  height: 60%;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
}

.tab .tab-list {
  padding-bottom: 15px;
  margin-top: 15px;
  border-bottom: 2px solid var(--background);
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab .tab-item {
  display: inline-block;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 10px;
}

.tab .tab-item.active {
  background-color: var(--background);
}

.tab .tab-container {
  display: block;
  height: calc(100vh - 400px);
  overflow-y: auto;
  scroll-snap-type: y proximity;
}

.tab .tab-content {
  display: none;
  direction: rtl;
}

.tab .tab-content.active {
  display: block;
  padding: 10px 15px;
}

.details-list {
  background-color: var(--background);
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  scroll-snap-align: start;
  text-align: center;
}

.details-list h4:not([class]) {
  color: var(--blue);
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--background);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--blue);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--cyan)
}


.surahs-list, .search-list {
  height: 80%;
  overflow-y: scroll;
  margin: 15px;
}

.navigate-modal input, .search-modal input {
  border-radius: 10px;
  background-color: var(--background);
  border: 0;
  padding: 5px;
  margin: 10px;
  color: var(--text)
}

.navigate-modal input::placeholder {
  font-family: 'Montserrat', serif;
}

.surah-container, .result-container {
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s ease-in-out;
}

.surah-container:hover, .result-container:hover {
  opacity: 1;
}

.surahs-list  .surah-container > .surah-titles, .surah-details {
  display: flex;
  justify-content: space-between;
}

.surah-titles {
  flex-direction: row-reverse;
}

.result-details {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media only screen and (max-width: 830px) {
  .modal-content {
    font-size: 3vw !important;
    width: 70%;
    height: 70%;
  }

  .tab .tab-container {
    height: calc(100vh - 380px);
  }
}

@media only screen and (max-width: 450px) {
  .tab .tab-list {
    font-size: 3.5vw;
  }

  .modal-content {
    font-size: 4vw !important;
    width: 80%;
    height: 60%;
  }

  .tab .tab-container {
    height: calc(100vh - 430px);
  }

}