@import url("https://fonts.googleapis.com/css2?family=Amiri&family=Amiri+Quran&family=Montserrat:wght@100;400&display=swap");

@font-face {
  font-family: "Quran Majeed";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/al-qalam-quran.eot")
      format("eof"),
    url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/al-qalam-quran.svg")
      format("svg"),
    url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/al-qalam-quran.ttf")
      format("truetype"),
    url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/al-qalam-quran.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/al-qalam-quran.woff2")
      format("woff2");
}

@font-face {
  font-family: "Test";
  src: url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/uthmanic-hafs1-ver14.eot") format('eot'),
  url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/uthmanic-hafs1-ver14.svg") format('svg'),
  url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/uthmanic-hafs1-ver14.ttf") format('truetype'),
  url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/uthmanic-hafs1-ver14.woff") format('woff'),
  url("https://cdn.jsdelivr.net/gh/fawazahmed0/quran-api@1/fonts/uthmanic-hafs1-ver14.woff2") format('woff2')
}

* {
  margin: 0;
  padding: 0;
}

:root {
  --quran-font: 'Test';
  /* --background: rgb(16, 16, 16);
  --light-background: rgb(46, 46, 46);
  --highlight: rgb(255, 232, 102);
  --pink: rgb(176, 82, 121);
  --white: rgb(214, 214, 214);
  --yellow: rgb(229, 181, 103);
  --green: rgb(180, 210, 115);
  --orange: rgb(232, 125, 62);
  --purple: rgb(158, 134, 200);
  --pink: rgb(176, 82, 121);
  --blue: rgb(108, 153, 187); */
  --light-background: #eceff4;
  --background: #d8dee9;
  --section-2: #cddaea;
	--red:#BF616A;
	--orange:#D08770;
	--yellow:#EBCB8B;
	--green:#A3BE8C;
	--cyan:#88C0D0;
	--blue:#81A1C1;
	--purple:#B48EAD;
	--pink:#B48EAD;
  --end: #81a1c1;
}

body {
  background-color: var(--background) !important;
  color: black !important;
}

.mainDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chapter-container {
  font-family: var(--quran-font);
  background-color: var(--light-background);
  color: var(--white);
  border-radius: 20px;
  padding: 10px 0px;
  margin: 15px;
  max-height: 100%;
  box-shadow: 0px 0px 10px grey;
}

.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  gap: 0px;
  cursor: pointer;
  width: auto;
}

.line-container:has(.section-2) {
  background-color: var(--section-2)
}
.line-container:has(.section-3) {
  background-color: var(--section-3)
}

.word {
  padding: 0px 0px;
  margin: 2px 0px;
  /* text-shadow: 2px 2px 10px black; */
  /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, */
    /* 1px 1px 0 #000; */
  font-size: 16pt;
}

.end {
  background-color: var(--end) !important;
  padding: 5px;
  font-family: "Amiri";
}

.word.active {
  color: var(--highlight) !important;
}

.modal {
  z-index: 30;
  cursor: default;
  direction: ltr;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  font-family: 'Amiri';
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal button {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  padding: 30px;
  background-color: var(--yellow);
  color: var(--light-background);
  cursor: pointer;
  text-align: center
}

.modal-content {
  background-color: var(--light-background);
  width: 80%;
  height: 50%;
  top: 0;
  left: 0;
  border-radius: 10px;
  box-shadow: 5px 5px 15px black;
}

.tab .tab-list{
    padding-bottom: 5px;
    margin-top: 10px;
    border-bottom: 2px solid var(--background);
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab .tab-item{
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
}

.tab .tab-item.active{
    background-color: var(--background);
}

.tab .tab-container{
    display:block;
    height: 250px;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
}

.tab .tab-content{
    display: none;
    direction: rtl;
}

.tab .tab-content.active{
    display: block;
    padding: 10px 15px;
}

.details-list {
  background-color: var(--background);
  padding: 5px;
  border-radius: 10px;
  margin: 10px;
  scroll-snap-align: start;
  text-align: center;
}

.details-list h4:not([class]) {
  color: var(--blue);
  font-family: var(--quran-font);
}

.waqfa {
  color: var(--yellow)
}

.work {
  color: var(--green)
}

.react {
  color: var(--orange)
}

.lamsa {
  color: var(--pink)
}

@media only screen and (max-width: 450px) {
  .chapter-container {
    width: 100%;
  } 

  .word {
    font-size: 6vw
  }
}