body {
  background-color: var(--background) !important;
  color: var(--text) !important;
}

#wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  filter: drop-shadow(rgba(0, 0, 0, 0.3) 0 2px 3px);
  margin: 20px;
  position: inherit;
  z-index: 1;
}

.pages-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--light-background);
  padding: 2vw 3vw;
  width: 40%;
  max-width: 500px;
}

#wrapper .page-container:nth-child(1) {
  border-radius: 20px 10px 10px 20px;
  background: linear-gradient(
    90deg,
    var(--light-background) 84%,
    var(--background) 97%
  );
}

#wrapper .page-container:nth-child(2) {
  border-radius: 10px 20px 20px 10px;
  background: linear-gradient(
    -90deg,
    var(--light-background) 84%,
    var(--background) 97%
  );
  position: relative;
}

#wrapper .page-container:nth-child(2):before {
  content: "";
  height: 97%;
  position: absolute;
  top: 8px;
  left: -2.5px;
  width: 5px;
  background-color: var(--light-background);
  opacity: 0.3;
}

.page-container .page-number {
  font-size: 14pt;
  padding-top: 10px;
}

#wrapper > .previous-next-page {
  font-size: 4vw;
  color: var(--light-background);
}

#wrapper > .previous-next-page:hover {
  color: var(--section-2);
}

#wrapper > .previous-next-page:active {
  color: var(--green);
}

.page-container:only-child {
  border-radius: 20px;
}

.line-container {
  display: flex;
  justify-content: center;
  align-items: center;
  direction: rtl;
  gap: 0px;
  cursor: pointer;
  width: auto;
}

.line-container:has(.chapter-info) {
  flex-wrap: wrap;
}

.line-container:has(.section-2) {
  background: linear-gradient(
    90deg,
    var(--section-2) 98%,
    var(--background) 100%
  );
}

#wrapper .page-container:nth-child(2) .line-container:has(.section-2) {
  background: linear-gradient(
    -90deg,
    var(--section-2) 98%,
    var(--background) 100%
  );
}

.chapter-info {
  cursor: default;
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: var(--background);
  border-radius: 20px;
  padding: 10px;
  margin: 10px 0px 10px 0px;
  box-shadow: var(--box-shadow);
}

.chapter-info .titles {
  display: flex;
  gap: 10px;
  font-size: 1vw;
  line-height: 2;
}

.chapter-info p {
  text-align: center;
  background-color: var(--light-background);
  width: 30px;
  height: 30px;
  padding: 0.4rem;
  border-radius: 100%;
}

.word,
.end {
  font-family: var(--quran-font);
}

.word {
  padding: 0px 2px;
  margin: 2px 0px;
  text-shadow: var(--text-shadow);
  font-size: 1.9vw;
  transition: color 0.2s ease-in-out;
}

.end {
  padding: 5px;
  font-size: 20pt;
}

.word.hover {
  color: var(--highlight);
}

.word.playing {
  text-shadow: -0.5px -0.5px 0 var(--playing), 0.5px -0.5px 0 var(--playing),
    -0.5px 0.5px 0 var(--playing), 0.5px 0.5px 0 var(--playing);
}

.word.highlight {
  animation: highlight 4s;
}

@keyframes highlight {
  10% {
    background-color: var(--red);
  }
  45% {
    background-color: var(--yellow);
  }
  80% {
    background-color: var(--green);
  }
}

.word.hidden {
  color: transparent;
  position: relative;
}

.word.hidden:after {
  position: absolute;
  content: "";
  bottom: -3px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 93%;
  height: 2px;
  background: black;
  opacity: 1;
}

.word.hidden:hover {
  color: var(--text);
}

.waqfa {
  color: var(--yellow);
}

.work {
  color: var(--green);
}

.react {
  color: var(--orange);
}

.lamsa {
  color: var(--pink);
}

.popup {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  position: absolute;
  z-index: 300;
  background-color: var(--background);
  border-radius: 10px;
  padding: 5px;
  box-shadow: var(--box-shadow);
  transition: all 0.15s ease;
  opacity: 0.7;
}

.popup:hover {
  opacity: 1;
}

.popup button {
  cursor: pointer;
  color: var(--cyan);
  background: none;
  border-radius: 100%;
  border: 0;
  font-size: 18pt;
}

.popup button:hover {
  color: var(--blue);
}

#audio-player {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  transition: transform 0.5s ease;
  transform: translateY(80%);
  margin: auto;
  width: 100%;
  z-index: 200;
}

#audio-player:hover {
  transform: translateY(0%);
}

#audio-player > .inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: var(--light-background);
  border-radius: 20px 20px 0px 0px;
  padding: 20px;
  padding-bottom: 10px;
  width: auto;
  box-shadow: var(--box-shadow);
}

#audio-player > .inner:before {
  content: "";
  color: var(--text);
  top: 5px;
  position: absolute;
  background-color: var(--text);
  height: 3px;
  width: 10%;
  border-radius: 5px;
  opacity: 0.2;
}

#audio-player > .inner > .controls-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

#audio-player .controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

#audio-player button {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  background-color: var(--green);
  border: 0px;
  text-align: center;
  margin: 3px;
}

#audio-player #playPauseButton {
  background-color: var(--cyan);
  width: 50px;
  height: 50px;
  font-size: 16pt;
}

#audio-player #playPauseButton:hover {
  background-color: var(--blue);
}

#audio-player .slidecontainer {
  width: 100%;
}

#audio-player .slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#audio-player .slider:hover {
  opacity: 1;
}

#audio-player .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: var(--cyan);
  cursor: pointer;
}

#audio-player .slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: var(--cyan);
  cursor: pointer;
}

#test-mode-container {
  display: flex;
}

#test-mode-container > .popup {
  position: fixed;
  background-color: var(--cyan);
  box-shadow: var(--box-shadow);
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform 0.5s ease;
  opacity: 1;
}

#test-mode-container > .popup:hover {
  background-color: var(--blue)
}

#test-mode-container > .popup > button {
  color: var(--text);
}

#test-mode-container > .popup:hover > button:hover {
  color: white;
}

#body-wrapper:has(#audio-player:hover) #test-mode-container > .popup {
  transform: translate(-50%, -230%);
}

@media only screen and (max-width: 830px) {
  .pages-wrapper {
    width: 90vw;
    gap: 1rem;
    flex-direction: column-reverse;
    align-items: center;
  }

  .page-container {
    width: 90%;
    padding: 1rem;
  }

  .chapter-container {
    width: 100%;
  }

  .chapter-info .titles {
    font-size: 2vw;
  }

  .word,
  .chapter-info > p {
    font-size: 4vw;
  }

  #wrapper > .previous-next-page {
    color: var(--orange) !important;
    padding: 3vw;
    font-size: 8vw;
  }

  .previous-next-page:nth-child(3) {
    position: fixed;
    bottom: 10px;
    right: 3px;
  }

  .previous-next-page:nth-child(1) {
    position: fixed;
    bottom: 10px;
    left: 3px;
  }
}

@media only screen and (min-width: 1250px) {
  .page-container {
    padding: 25px 45px;
  }

  .word {
    font-size: 24px;
  }

  .chapter-info .titles {
    font-size: 12px;
  }
}
